name: ESP32 Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up ESP-IDF
      uses: espressif/esp-idf-ci-action@v1
      with:
        esp_idf_version: latest

    - name: Build project
      run: idf.py build

    - name: Upload firmware artifact
      uses: actions/upload-artifact@v5
      with:
        name: firmware
        path: build/*.bin
