name: Cppcheck Static Analysis

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  cppcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
  
      - name: Debug Path
        run: find . -maxdepth 3 -not -path '*/.*'
      
      - name: Install Cppcheck
        run: sudo apt-get install -y cppcheck

      - name: Run Cppcheck
        run: |
          cppcheck --enable=all \
                   --inline-suppr \
                   --suppress=missingIncludeSystem \
                   --error-exitcode=1 \
                   --force \
                   src/ESP32/src/ \
                   src/ESP32/lib/ \
                   -I src/ESP32/include/ \
                   -I src/ESP32/src/ \
                   -I src/ESP32/lib/
