name: Cppcheck Static Analysis

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  cppcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
  
      - name: Debug Path
        run: find . -maxdepth 3 -not -path '*/.*'
      
      - name: Install Cppcheck
        run: sudo apt-get install -y cppcheck

      - name: Run Cppcheck
        run: |
          # --enable=all: Enable all checks (style, performance, portability, etc)
          # --suppress=missingIncludeSystem: Don't error out if Arduino.h isn't found
          # --error-exitcode=1: Make the build fail if a bug is found
          # --inline-suppr: Allows you to hide warnings in the code using comments
          cppcheck --enable=all \
                   --inline-suppr \
                   --suppress=missingIncludeSystem \
                   --suppress=unusedFunction
                   --error-exitcode=1 \
                   -r src/ESP32/
